<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dashboard.index') }}">
          <i class="nav-icon icon-graph"></i> Cluster Graph
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('patients.index') }}">
          <i class="nav-icon icon-people"></i> Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('doctors_schedule.index') }}">
          <i class="nav-icon icon-user"></i> Doctors' Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('medicine_inventory.index') }}">
          <i class="nav-icon icon-file"></i> Medicine Inventory</a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>