{% extends "master.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>Appointments</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div id="doctor-schedule">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for appointment in appointments %}
              <tr>
                <td>
                  {{ appointment.created_on|datetime }}    
                </td>
                <td>
                  {{ appointment.doctor.name }}
                </td>
                <td>
                  <a href="{{ url_for('patients.view', patient=appointment.patient.id) }}">
                    {{ appointment.patient.first_name }} 
                    {{ appointment.patient.last_name }}
                  </a>
                </td>
                <td>
                  {% if appointment.status == 'pending' %}
                  <a href="{{ url_for('doctors_schedule.approve', appointment=appointment.id) }}" 
                  class="btn btn-sm btn-primary">Approve</a>
                  <a href="{{ url_for('doctors_schedule.decline', appointment=appointment.id) }}" 
                  class="btn btn-sm btn-primary">Decline</a>
                  {% elif appointment.status == 'approved' %}
                  <a href="{{ url_for('doctors_schedule.decline', appointment=appointment.id) }}" 
                    class="btn btn-sm btn-primary">Decline</a>
                  <button disabled="true" class="btn btn-sm btn-primary">
                    Approved
                  </button>
                  {% else %}
                  <a href="{{ url_for('doctors_schedule.approve', appointment=appointment.id) }}" 
                    class="btn btn-sm btn-primary">Approve</a>
                  <button disabled="true" class="btn btn-sm btn-danger">
                    Declined
                  </button>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}