{% extends "master.html" %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <a href="{{ url_for('dashboard.print_page') }}" class="btn btn-primary mb-3">Print Statistics</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Disease Clustering</h4>
            <div class="small text-muted">Clustered data of diseases</div>
          </div>
        </div>
        <hr>
        {% if data.clusters %}
          Not enough samples to cluster
        {% else %}
        <canvas id="kmeans" width="400" height="150"></canvas>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
            <h4 class="card-title mb-0">Statistics</h4>
            <div class="small text-muted">Statistical report of all the medical records issued.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr class="mt-0">
            {% for findings in statistics.findings %}
            <div class="progress-group mb-3">
              <div class="progress-group-prepend">
                <span class="progress-group-text">{{ findings.name }}</span>
              </div>
              <div class="progress-group-bars">
                <div class="progress-group-header">
                  <i class="icon-user progress-group-icon"></i>
                  <div>Male</div>
                  <div class="ml-auto font-weight-bold mr-2">{{ findings.male_count }}</div>
                  <div class="text-muted small">({{ ((findings.male_count/(findings.male_count + findings.female_count))*100)|round(2) }}%)</div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-info" role="progressbar" style="width: {{ (findings.male_count/(findings.male_count + findings.female_count))*100 }}%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress-group-header">
                  <i class="icon-user-female progress-group-icon"></i>
                  <div>Female</div>
                  <div class="ml-auto font-weight-bold mr-2">{{ findings.female_count }}</div>
                  <div class="text-muted small">({{ ((findings.female_count/(findings.male_count + findings.female_count))*100)|round(2) }}%)</div>
                </div>
                <div class="progress progress-xs">
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ (findings.female_count/(findings.male_count + findings.female_count))*100 }}%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Area with the most findings</h4>
            <div class="small text-muted">Location</div>
          </div>
        </div>
        <hr class="mt-0">
        <div class="row">
          {% for area in most %}
          {% if loop.index < 4 %}
          <div class="col-sm-4">
            <div class="callout callout-info">
              <small class="text-muted">{{ area.address }}</small>
              <br>
              <strong class="h4"><span class="text-muted">Count: </span>{{ area.count }}</strong>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
            <h4 class="card-title mb-0">Number of patients</h4>
            <div class="small text-muted">Number of patients diagnosed in this clinic</div>
          </div>
        </div>
        <hr class="mt-0">
        <div class="row">
          <div class="col-sm-6">
            <div class="callout callout-info">
              <small class="text-muted">Male</small>
              <br>
              <strong class="h4">{{ statistics.patient_count.male }}</strong>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="callout callout-danger">
              <small class="text-muted">Female</small>
              <br>
              <strong class="h4">{{ statistics.patient_count.female }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Location</h4>
            <div class="small text-muted">Location</div>
          </div>
        </div>
        <hr>
        <canvas id="pie" width="300" height="300"></canvas>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Location</h4>
            <div class="small text-muted">Location</div>
          </div>
        </div>
        <hr>
        <div class="scroll">
          <div class="row">
            {% for entry in location %}
            <div class="col-sm-6">
              <h5>{{ entry.location }}</h5>
              <ul>
                {% for findings in entry.findings %}
                <li>{{ findings.findings }} - {{ findings.count }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{{ url_for('static', filename='vendors/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/distinct-colors/distinct-colors.min.js') }}"></script>
<script>
  window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
  }
  
  let color = Chart.helpers.color

  function generateData() {
    let jsondata = JSON.parse("{{ data|safe }}")
    let data = []
    let dataset = []
    let colorChoices = [window.chartColors.red, window.chartColors.blue, 
      window.chartColors.yellow]
    data['dataset'] = jsondata[0]
    data['centroids'] = jsondata[1]
    data['centroids'].forEach(function(e, i) {
      dataset[data['dataset'].length + i] = {
        borderColor: colorChoices[i],
        backgroundColor: color(colorChoices[i]).alpha(0.2).rgbString(),
        pointStyle: 'cross',
        data: e.map(function(e) {
          return {'x': e[0], 'y': e[1]}
        })
      }
    })
    data['dataset'].forEach(function(e, i) {
      dataset[i] = {
        label: 'Cluster ' + (i + 1),
        borderColor: color(colorChoices[i]).alpha(0.4).rgbString(),
        backgroundColor: color(colorChoices[i]).alpha(0.2).rgbString(),
        data: e.map(function(e) {
          return {'x': e[0], 'y': e[1]}
        })
      }
    })
    return dataset
  }

  window.onload = function() {
    let kmeansCanvas = document.getElementById('kmeans').getContext('2d')

    window.myScatter = Chart.Scatter(kmeansCanvas, {
      data: { datasets: generateData() },
      options: {
        title: {
          display: false,
          text: 'Disease clustering using K Means'
        },
        legend: {
          display: false
        }
      }
    })

    let pieCanvas = document.getElementById('pie').getContext('2d')
    let pie = new Chart(pieCanvas, {
      type: 'pie',
      data: { 
        datasets: [{ 
            data: {{ pie.data }}, 
          backgroundColor: generateBGColor() 
        }],
        labels: {{ pie.labels|safe }}
      },
      options: {
        legend: {
          display: false
        }
      }
    })

    function generateBGColor() {
      let len = {{ pie.data|length }}
      let paletteArray = new DistinctColors({count: len});
      let palette = []
      paletteArray.forEach(function(e, i) {
        palette.push('rgba(' + e['_rgb'][0] + ', ' + e['_rgb'][1] + ', ' 
          + e['_rgb'][2] + ', ' + e['_rgb'][3] + ')')
      })
      console.log(palette)
      return palette
    }
  }
</script>
{% endblock javascript %}