<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .text-center {
      text-align: center;
    }

    table {
      width: 100%;
    }
  </style>
</head>

<body>
  <table>
    <tbody>
      <tr>
        <td colspan="4">
          <h1 class="text-center">Statistical Report</h1>
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="4"> <center> <h2>Top area</h2></center><hr width="80%"></td>
      </tr>
      {% for area in most %}
      {% if loop.index < 4 %}
      <tr>
        <td width="35%"></td>
        <td width="25%">{{ area.address }}: </td>
        <td>{{ area.count }} </td>
        <td></td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <center><h2>Statistics</h2><hr width="80%"></center>
  <table border="1">
    <thead>
      <tr>
        <td>Barangay</td>
        <td>Findings</td>
        <td>Count</td>
      </tr>
    </thead>
    <tbody>
    {% for entry in location %}
    {% for findings in entry.findings %} 
    <tr>
      <td>{{ entry.location }} </td>
      <td>{{ findings.findings }}</td>
      <td>{{ findings.count }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
  </table>
  <center><h2>Gender</h2><hr width="80%"></center>
  <table border="1">
    <thead>
      <tr>
        <td>Case</td>
        <td>Male</td>
        <td>Female</td>
      </tr>
    </thead>
    <tbody>
      {% for findings in statistics.findings %}
      <tr>
        <td>{{ findings.name }}</td>
        <td>{{ findings.male_count }}</td>
        <td>{{ findings.female_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>