{% extends "master.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>Add Medicine</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <strong>Patients</strong>
        <small>Form</small>
      </div>
      <div class="card-body">
        <form action="{{ url_for('medicine_inventory.save') }}" method="post">  
          {{ form.hidden_tag() }}
          <div class="form-group">
            <label for="last_stocked">Last Stocked</label>
            {{ form.last_stocked(class="form-control") }}
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              {{ form.name(class="form-control", 
                placeholder="Please enter name of medicine") }}
            </div>
            <div class="form-group col-md-6">
              <label for="count">Count</label>
              {{ form.count(class="form-control", 
                placeholder="Please enter number of medicines") }}
            </div>
          </div>
          {{ form.submit(class="btn btn-primary pull-right") }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}