{% extends "master.html" %}

{% block stylesheet %}
<link href="{{ url_for('static', filename='vendors/tempusdominus-datetimepicker/css/main.min.css') }}" rel="stylesheet">  
{% endblock stylesheet %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>Edit Patient</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <strong>Patients</strong>
        <small>Form</small>
      </div>
      <div class="card-body">
        <form action="{{ url_for('patients.update') }}" method="post">  
          {{ form.hidden_tag() }}
          {{ form.id() }}
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="first_name">First name</label>
              {{ form.first_name(class="form-control", 
                placeholder="Please enter patient's first name") }}
            </div>
            <div class="form-group col-sm-6">
              <label for="last_name">Last name</label>
              {{ form.last_name(class="form-control", 
                placeholder="Please enter patient's last name") }}
            </div>
          </div>
          <div class="row">
              <div class="form-group col-sm-8">
                {{ form.date_of_birth.label }}
                {{ form.date_of_birth(class="form-control datetimepicker-input", 
                  data_toggle="datetimepicker", data_target="#date_of_birth") }}
              </div>
            <div class="form-group col-sm-4">
              {{ form.gender.label }}
              {{ form.gender(class="form-control") }}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              {{ form.contact_no.label }}
              {{ form.contact_no(class="form-control", 
                placeholder="Enter contact no.") }}
            </div>
            <div class="form-group col-sm-8">
              {{ form.address.label }}
              {{ form.address(class="form-control", 
                placeholder="Enter contact no.") }}
            </div>
          </div>
          {{ form.submit(class="btn btn-primary pull-right") }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{{ url_for('static', filename='vendors/moment/moment.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/tempusdominus-datetimepicker/js/main.min.js') }}"></script>
<script>
  $(function () {
    $('#date_of_birth').datetimepicker({
      format: 'YYYY-MM-DD',
      date: '{{ form.date_of_birth.data }}'
    })
  })
</script>
{% endblock javascript %}