{% extends "master.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>Patients <small><a href="{{ url_for('patients.create') }}">
      <button class="btn btn-primary btn-sm">Add patients</button>
    </a></small></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
      <i class="fa fa-align-justify"></i> Patients list</div>
      <div class="card-body">
      <table class="table table-responsive-sm" id="patients-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in patients %}
          <tr>
            <td>{{ patient.name }}</td>
            <td>{{ patient.date_of_birth }}</td>
            <td>{{ patient.address }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
  $(function() {
    $('#patients-table').DataTable({
      paging: false,
      searching: false
    })
  })
</script>
{% endblock javascript %}