.display-inline-block {
    display: inline-block;
}

@media (max-width: 576px) {
    .main .container-fluid {
        padding: 0 5px;
   }
 }

.scroll {
    /* max-height: 300px; */
    overflow-y: auto;
    overflow-x: hidden;
}