{% extends "master.html" %}

{% block stylesheet %}
<link href="{{ url_for('static', filename='vendors/dataTables/css/dataTables.min.css') }}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>Patients <small><a href="{{ url_for('patients.create') }}">
      <button class="btn btn-primary btn-sm">Add patients</button>
    </a></small></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
      <i class="fa fa-align-justify"></i> Patients list</div>
      <div class="card-body">
      <table class="table table-responsive-sm" id="patients-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in patients %}
          <tr>
            <td><a href="{{ url_for('patients.view', patient=patient.id) }}">
              {{ patient.first_name }} {{ patient.last_name }}
            </a></td>
            <td>{{ patient.date_of_birth }}</td>
            <td>{{ patient.address }}</td>
            <td>
              <a href="{{ url_for('patients.view', patient=patient.id)}}">
                <button class="btn btn-sm btn-primary">View</button>
              </a>
              <a href="{{ url_for('patients.edit', patient=patient.id)}}">
                <button class="btn btn-sm btn-primary">Edit</button>
              </a>
              <a href="{{ url_for('patients.delete', patient=patient.id)}}">
                <button class="btn btn-sm btn-danger">Delete</button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}

<script src="{{ url_for('static', filename='vendors/dataTables/js/dataTables.min.js') }}"></script>
<script>
  $(function() {
    $('#patients-table').DataTable({
      paging: false,
      searching: false
    })
  })
</script>
{% endblock javascript %}